nameOverride: ""
fullnameOverride: ""

app:
  replicaCount: 2
  image:
    repository: thotogelo/coffeequeue
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: NodePort
    port: 80
    targetPort: 8080
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  probes:
    readiness:
      path: /health
      initialDelaySeconds: 30
      periodSeconds: 5
      timeoutSeconds: 3
      failureThreshold: 5
    liveness:
      path: /health
      initialDelaySeconds: 40
      periodSeconds: 10
      timeoutSeconds: 3
      failureThreshold: 5
  hpa:
    enabled: true
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 70

postgres:
  image:
    repository: postgres
    tag: "16"
    pullPolicy: IfNotPresent
  service:
    port: 5432
  auth:
    user: postgres
    password: postgres
    database: coffeequeue
  initJob:
    enabled: true
    ttlSecondsAfterFinished: 100
    backoffLimit: 10
  initContainer:
    enabled: false
  persistence:
    enabled: false
    size: 1Gi
    storageClass: ""
