## db-init-script.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: db-init-script
  namespace: default
data:
  createSchema.sql: |
    --
    -- PostgreSQL database dump
    --

    -- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
    -- Dumped by pg_dump version 17.4

    -- Started on 2025-10-29 09:37:54 UTC

    SET statement_timeout = 0;
    SET lock_timeout = 0;
    SET idle_in_transaction_session_timeout = 0;
    SET transaction_timeout = 0;
    SET client_encoding = 'UTF8';
    SET standard_conforming_strings = on;
    SELECT pg_catalog.set_config('search_path', '', false);
    SET check_function_bodies = false;
    SET xmloption = content;
    SET client_min_messages = warning;
    SET row_security = off;

    --
    -- TOC entry 4 (class 2615 OID 2200)
    -- Name: public; Type: SCHEMA; Schema: -; Owner: -
    --

    CREATE SCHEMA IF NOT EXISTS public;


    --
    -- TOC entry 218 (class 1259 OID 16386)
    -- Name: coffee_orders; Type: TABLE; Schema: public; Owner: -
    --

    CREATE TABLE IF NOT EXISTS public.coffee_orders (
        id bigint GENERATED BY DEFAULT AS IDENTITY NOT NULL,
        createdat timestamp(6) without time zone NOT NULL,
        customername character varying(255) NOT NULL,
        status character varying(255) NOT NULL,
        updatedat timestamp(6) without time zone NOT NULL,
        CONSTRAINT coffee_orders_status_check CHECK (((status)::text = ANY ((ARRAY['NEW'::character varying, 'BREWING'::character varying, 'DONE'::character varying])::text[])))
    );


    --
    -- TOC entry 217 (class 1259 OID 16385)
    -- Name: coffee_orders_id_seq; Type: SEQUENCE; Schema: public; Owner: -
    --

    -- Note: Identity column is defined in CREATE TABLE, not via ALTER TABLE

    --
    -- TOC entry 3212 (class 2606 OID 16393)
    -- Name: coffee_orders coffee_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: -
    --

    DO $$
    BEGIN
        IF NOT EXISTS (
            SELECT 1 FROM pg_constraint WHERE conname = 'coffee_orders_pkey'
        ) THEN
            ALTER TABLE ONLY public.coffee_orders
                ADD CONSTRAINT coffee_orders_pkey PRIMARY KEY (id);
        END IF;
    END $$;


    -- Completed on 2025-10-29 09:37:54 UTC

    --
    -- PostgreSQL database dump complete
    --


