# postgres-service.yaml
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
  type: ClusterIP

#apiVersion: v1
#kind: Service
#metadata:
#  name: title
#spec:
#  selector:
#    app: title
#  ports:
#    - protocol: TCP
#      port: 80
#      targetPort: 8080
#  type: NodePort
#