apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      volumes:
        - name: postgres-data
          emptyDir: {} # for dev/testing, use PVC in prod
        - name: db-init-script
          configMap:
            name: db-init-script
      initContainers:
        - name: init-db
          image: postgres:16
          command:
            [
              "sh",
              "-c",
              "echo 'Starting DB initialization...' && PGPASSWORD=$POSTGRES_PASSWORD psql -h localhost -U $POSTGRES_USER -d $POSTGRES_DB -f /scripts/createSchema.sql && echo 'Initialization complete' || echo 'Initialization failed'"
            ]
          env:
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              value: postgres
            - name: POSTGRES_DB
              value: coffeequeue
          volumeMounts:
            - name: db-init-script
              mountPath: /scripts
      containers:
        - name: postgres
          image: postgres:16
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_DB
              value: coffeequeue
            - name: POSTGRES_PASSWORD
              value: postgres
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
